@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  overflow-y: hidden;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.35);
}

a {
  cursor: pointer;
}